@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bold {
  font-weight: bold;
  -webkit-text-stroke: 0.2px currentColor;
}

.animated-text {
  color: rgb(239, 36, 151);
  text-align: center;
  margin: auto;

  /* Animation Properties */
  opacity: 0;
  animation: floatUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Animation Effect */
@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blog-content {
  padding: 36px 0;
}

.blog-content b {
  margin-bottom: 10px;
  font-weight: 500;
}

.blog-content p {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.blog-content h1 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 26px;
}

.blog-content h2 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 22px;
}

.blog-content h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}